<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="/styles/bootstrapmin" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="/styles/nav" />
    <link href="/styles/commands" rel="stylesheet" />
    <link href="/styles/untitled" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="/styles/coloring" />
    <link rel="stylesheet" type="text/css" href="/styles/style" />
    <link rel="stylesheet" type="text/css" href="/styles/txtformatting" />
    <link rel="stylesheet" type="text/css" href="/styles/shadow" />
    <link rel="stylesheet" type="text/css" href="/styles/loading" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css"
    />
    <script
      type="module"
      src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"
    ></script>
    <script
      nomodule
      src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"
    ></script>

    <link rel="shortcut icon" href="../views/img/img.jpg" type="image/x-icon" />
    <title>EzBot - Commands</title>
  </head>

  <body class="on">
    <div class="loading" id="loading-box">
      <div class="loading-item"><div class="loading-progress"></div></div>
    </div>
    <!-- navbar -->
    <div class="navbar">
      <div class="container">
        <div class="navbar-nav">
          <span class="navbar-toggler" id="toggler"
            ><i onclick="toggleNavbar(this)" class="fas fa-bars"></i
          ></span>

          <div class="navs" id="navs">
            <div class="navs-item notbtn">
              <a href="/commands" class="txt-uppercase">Commands</a>
            </div>
            <div class="navs-item notbtn">
              <a href="#" class="txt-uppercase">Docs</a>
            </div>
            <div class="navs-item notbtn">
              <a href="#" class="txt-uppercase">Support</a>
            </div>
            <div class="navs-item notbtn">
              <a
                href="https://discord.com/api/oauth2/authorize?client_id=1126571121580445726&permissions=30785788706806&scope=bot%20applications.commands"
                class="txt-uppercase"
                >Invite</a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- navbar end -->
    <div class="container" id="container">
      <div class="accordion accordion-flush mt-2" id="test">
        <div class="accordion-item">
          <h2 class="accordion-header" id="flush-headingOne">
            <span><i class="far fa-crown"></i></span>
            &nbsp;/fsafeda&nbsp;
            <span class="command-descreption"> - fasffa</span>
          </h2>
        </div>
      </div>
      <div class="accordion accordion-flush mt-2" id="test">
        <div class="accordion-item">
          <h2 class="accordion-header" id="flush-headingOne">
            <span><i class="far fa-crown"></i></span>
            &nbsp;/fsafeda&nbsp;
            <span class="command-descreption"> - fasffa</span>
          </h2>
        </div>
      </div>
      <div class="accordion accordion-flush mt-2" id="test">
        <div class="accordion-item">
          <h2 class="accordion-header" id="flush-headingOne">
            <span><i class="far fa-crown"></i></span>
            &nbsp;/fsafeda&nbsp;
            <span class="command-descreption"> - fasffa</span>
          </h2>
        </div>
      </div>
      <div class="accordion accordion-flush mt-2" id="test">
        <div class="accordion-item">
          <h2 class="accordion-header" id="flush-headingOne">
            <span><i class="far fa-crown"></i></span>
            &nbsp;/fsafeda&nbsp;
            <span class="command-descreption"> - fasffa</span>
          </h2>
        </div>
      </div>
      <div class="accordion accordion-flush mt-2" id="test">
        <div class="accordion-item">
          <h2 class="accordion-header" id="flush-headingOne">
            <span><i class="far fa-crown"></i></span>
            &nbsp;/fsafeda&nbsp;
            <span class="command-descreption"> - fasffa</span>
          </h2>
        </div>
      </div>
      <div class="accordion accordion-flush mt-2" id="test">
        <div class="accordion-item">
          <h2 class="accordion-header" id="flush-headingOne">
            <span><i class="far fa-crown"></i></span>
            &nbsp;/fsafeda&nbsp;
            <span class="command-descreption"> - fasffa</span>
          </h2>
        </div>
      </div>
      <div class="accordion accordion-flush mt-2" id="test">
        <div class="accordion-item">
          <h2 class="accordion-header" id="flush-headingOne">
            <span><i class="far fa-crown"></i></span>
            &nbsp;/fsafeda&nbsp;
            <span class="command-descreption"> - fasffa</span>
          </h2>
        </div>
      </div>
      <div class="accordion accordion-flush mt-2" id="test">
        <div class="accordion-item">
          <h2 class="accordion-header" id="flush-headingOne">
            <span><i class="far fa-crown"></i></span>
            &nbsp;/fsafeda&nbsp;
            <span class="command-descreption"> - fasffa</span>
          </h2>
        </div>
      </div>
      <div class="accordion accordion-flush mt-2" id="test">
        <div class="accordion-item">
          <h2 class="accordion-header" id="flush-headingOne">
            <span><i class="far fa-crown"></i></span>
            &nbsp;/fsafeda&nbsp;
            <span class="command-descreption"> - fasffa</span>
          </h2>
        </div>
      </div>
      <div class="accordion accordion-flush mt-2" id="test">
        <div class="accordion-item">
          <h2 class="accordion-header" id="flush-headingOne">
            <span><i class="far fa-crown"></i></span>
            &nbsp;/fsafeda&nbsp;
            <span class="command-descreption"> - fasffa</span>
          </h2>
        </div>
      </div>
      <div class="accordion accordion-flush mt-2" id="test">
        <div class="accordion-item">
          <h2 class="accordion-header" id="flush-headingOne">
            <span><i class="far fa-crown"></i></span>
            &nbsp;/fsafeda&nbsp;
            <span class="command-descreption"> - fasffa</span>
          </h2>
        </div>
      </div>
      <div class="accordion accordion-flush mt-2" id="test">
        <div class="accordion-item">
          <h2 class="accordion-header" id="flush-headingOne">
            <span><i class="far fa-crown"></i></span>
            &nbsp;/fsafeda&nbsp;
            <span class="command-descreption"> - fasffa</span>
          </h2>
        </div>
      </div>
      <div class="accordion accordion-flush mt-2" id="test">
        <div class="accordion-item">
          <h2 class="accordion-header" id="flush-headingOne">
            <span><i class="far fa-crown"></i></span>
            &nbsp;/fsafeda&nbsp;
            <span class="command-descreption"> - fasffa</span>
          </h2>
        </div>
      </div>
      <div class="accordion accordion-flush mt-2" id="test">
        <div class="accordion-item">
          <h2 class="accordion-header" id="flush-headingOne">
            <span><i class="far fa-crown"></i></span>
            &nbsp;/fsafeda&nbsp;
            <span class="command-descreption"> - fasffa</span>
          </h2>
        </div>
      </div>
      <div class="accordion accordion-flush mt-2" id="test">
        <div class="accordion-item">
          <h2 class="accordion-header" id="flush-headingOne">
            <span><i class="far fa-crown"></i></span>
            &nbsp;/fsafeda&nbsp;
            <span class="command-descreption"> - fasffa</span>
          </h2>
        </div>
      </div>
      <div class="accordion accordion-flush mt-2" id="test">
        <div class="accordion-item">
          <h2 class="accordion-header" id="flush-headingOne">
            <span><i class="far fa-crown"></i></span>
            &nbsp;/fsafeda&nbsp;
            <span class="command-descreption"> - fasffa</span>
          </h2>
        </div>
      </div>
      <div class="accordion accordion-flush mt-2" id="test">
        <div class="accordion-item">
          <h2 class="accordion-header" id="flush-headingOne">
            <span><i class="far fa-crown"></i></span>
            &nbsp;/fsafeda&nbsp;
            <span class="command-descreption"> - fasffa</span>
          </h2>
        </div>
      </div>
      <div class="accordion accordion-flush mt-2" id="test">
        <div class="accordion-item">
          <h2 class="accordion-header" id="flush-headingOne">
            <span><i class="far fa-crown"></i></span>
            &nbsp;/fsafeda&nbsp;
            <span class="command-descreption"> - fasffa</span>
          </h2>
        </div>
      </div>
    </div>

    <script>
      const div = document.getElementById("container");
      div.innerHTML += `
      <div class="accordion accordion-flush mt-2" id="test">
        <div class="accordion-item">
          <h2 class="accordion-header" id="flush-headingOne">
              <span><i class="far fa-crown"></i></span>
              &nbsp;/fsafeda&nbsp;
              <span class="command-descreption"> - fasffa</span>
          </h2>
        </div>
      </div>`;
    </script>
    <script src="https://unpkg.com/scrollreveal"></script>
    <script src="/fontawesome/all.min.js"></script>
    <script src="/js/animation.js"></script>
    <script src="/js/addCommandfromClient" type="module"></script>
    <script src="/js/script"></script>
    <script src="/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  </body>
</html>
